:root{
    --gray:#A0A6B4;
    --lightBlue:#587a80;
    --columbianBlue:#B3D2E7;
    --white:#F8F8F8;
}

.vh-90{
    height: 90vh;
}
.passwordDimenticarta{
    color: #587a80;
    font-weight: bold;
}

.transition{
    transition: 0.5s;
}

.transition{
    transition: 0.5s;
}

.title{
    color: #587a80;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

.label{
    color: #587a80;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
}

.register-page{
    background-image: url("https://www.gardatrentino.it/website_images/Outdoor/Bici/mountainbike/Percorsi/image-thumb__12085__header/GARDATRENTINO_WATCHSOME_MTB_TENNO_STRADA_DEL_PIL_02.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
    z-index:0;
}


.scuro{
    transition: 0.3s;
    background-color: #b3d2e798;
    border: solid 2px #587a80;
    color: rgb(0, 0, 0);
    font-family: 'IBM Plex Serif';
}
.scuro:focus{
    outline:none;
    box-shadow: inset 0px 0px 10px rgb(156, 156, 156);
}

.scuro:hover{
    transition: 0.3s;
    background-color: #6d9ebea6;
}

.btn-register{
    transition: 0.5s;
    background: #B3D2E7;
    font-weight:500;
    transition:0.5s;
    border:2px solid #587a80;
    color:#587a80;
}

.btn-register:hover{
    transition: 0.3s;
    background: #6d9ebe;
    border:2px solid rgb(255, 255, 255);
    color: white;
}
.card-register{

    background-color: #f8f8f89c;
    padding:20px;

    position:relative;
    box-shadow: inset 0px 0px 20px rgb(255, 255, 255);
}

.raimbow{
    position:absolute;
    z-index:-1;
    top:0px;
    left:0px;
    width:100%;
    height: 100%;

    padding:30px;
    border-radius: 10px;
    animation: rotazione 2.5s linear infinite;
}



@media screen and (max-width: 767px){

}



@media screen and (min-width: 767px) and (max-width: 1200px){
}


@media screen and (min-width: 1200px){

}