<router-outlet></router-outlet>
<app-navbar></app-navbar>
<div class="container-fluid register-page d-flex justify-content-center align-items-center p-0  vh-90">
    <div class="row w-100 justify-content-center h-100 align-items-center mt-5">
        <div class="col-12 flex-column h-100 flex-lg-row annuncio2 d-flex align-items-center justify-content-center">
            <div data-aos="fade-left"
                class="col-12 col-md-12 col-lg-5 didascalia d-flex align-items-center justify-content-center px-4 h-65sm">
                <form class="d-flex flex-column align-items-center  " style="position: relative; z-index:1;">

                    <h1 class="croissant title display-4 m-0">Login</h1>

                    <div class="container-fluid ">
                        <div class="row justify-content-center">

                            <!--! message -->
                            <div class="row justify-content-center d-lg-none p-0 m-0">
                                <div *ngIf="successMessage != null" class="col-12 ">
                                    <div class="alert alert-success p-0 p-md-3" role="alert">
                                        <p class="m-0">{{successMessage}}</p>
                                    </div>
                                </div>
                            </div>

                            <!--! errori -->
                            <div class="row justify-content-center d-lg-none p-0 m-0">
                                <div *ngIf="errorMessage.length != 0" class="col-12 ">
                                    <div class="alert alert-danger p-0 p-md-3" role="alert">
                                        <p class="m-0" *ngFor="let e of errorMessage">{{e}}</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="EmailAddress" class="fs-5 label">Email:</label>
                                <input class="w-100 scuro py-1 my-1" type="email" id="EmailAddress" #EmailAddress>

                                <label for="Password" class="fs-5 label">Password:</label>
                                <input [type]="type" class="w-100 scuro py-1 my-1" id="Password" #Password>
                                <span (click)="hideShowPassword()" class="fa {{eyeIcon}}"></span>
                                <div class="mt-2 d-flex">
                                    <a href="" id="forget" class=" text-decoration-none passwordDimenticarta p-1 "
                                        data-bs-toggle="modal" data-bs-target="#exampleModal">Password dimenticata?</a>
                                    <!--! CODE FROM GOOGLE  (data-login_uri="https://localhost:4200/")-->
                                    <div id="g_id_onload"
                                        data-client_id="236179809361-r91sb4haj3rafbdp66g5jdq9446bv86p.apps.googleusercontent.com"
                                        data-login_uri="http://localhost:4200/"
                                        data-your_own_param_1_to_login="any_value"
                                        data-your_own_param_2_to_login="any_value">
                                    </div>

                                    <div id="g_id_onload"
                                        data-client_id="236179809361-r91sb4haj3rafbdp66g5jdq9446bv86p.apps.googleusercontent.com"
                                        data-context="use" data-ux_mode="popup" data-itp_support="true"
                                        data-callback="handleCredentialResponse">

                                    </div>

                                    <div class="g_id_signin ms-auto" data-type="standard" data-shape="pill"
                                        data-theme="filled_blue" data-text="signin_with" data-size="large"
                                        data-logo_alignment="left">
                                    </div>
                                    <!--! CODE FROM GOOGLE END -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="w-75 d-flex justify-content-evenly">
                        <button type="submit" class="btn-register mt-md-4 px-3 py-2 w-auto"
                            (click)="login(EmailAddress, Password)">Login</button>

                    </div>
                    <a class="text-decoration-none" id="forget" routerLink="/signup">
                        <div class="btn-register mt-2 mt-md-4 px-3 py-2 w-auto text-decoration-none">Non hai un account?
                            Registrati!</div>
                    </a>

                </form>
            </div>

            <div class="col-12 col-md-12 col-lg-5 d-none d-lg-block">


                <!--! message -->
                <div class="row justify-content-center ">
                    <div *ngIf="successMessage != null" class="col-12 ">
                        <div class="alert alert-success m-5" role="alert">
                            <p class="m-0">{{successMessage}}</p>
                        </div>
                    </div>
                </div>

                <!--! errori -->
                <div class="row justify-content-center d-none d-lg-block">
                    <div *ngIf="errorMessage.length != 0" class="col-12 ">
                        <div class="alert alert-danger m-5" role="alert">
                            <p class="m-0" *ngFor="let e of errorMessage">{{e}}</p>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <!-- <div class="col-12 col-md-9 col-lg-9 card-register w-100 h-100 d-flex flex-column justify-content-center">
        </div> -->
    </div>
</div>

<app-footer></app-footer>
<app-chat></app-chat>
<!-- FORGET PASSWORD    -->
 
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title" id="exampleModalLabel"> <span style="font-size: 25px;font-weight:700">Hai
                        dimenticato la password?</span><br>
                    <small>Fornisci la tua e-mail e ti invieremo il collegamento per il ripristino.</small>
                </p>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>

            <div class="modal-body">
                <div class="form-group pt-3">
                    <div class="input-field"> <span class="fa fa-user p-2"></span> <input [(ngModel)]="resetPassword"
                            (ngModelChange)="checkValidEmailForReset($event)" type="text" placeholder="Email"> </div>
                    <small *ngIf="!resetPassword" class="text-danger">*Email is required*</small>
                    <small *ngIf="!isEmailForResetValid && resetPassword " class="text-danger">*Email is
                        invalid*</small>
                </div>
                <div class="modal-footer">
                    <button id="closeBtn" type="button" class="btn-register  px-3 py-2 w-auto"
                        data-bs-dismiss="modal">Chiudi</button>
                    <button type="button" (click)="confirmToSend()"
                        class="btn-register  px-3 py-2 w-auto">Invia</button>
                </div>
            </div>
        </div>
    </div>