<router-outlet></router-outlet>
<app-navbar></app-navbar>
<div class="container-fluid  register-page d-flex justify-content-center align-items-center p-0 " >
    <div class="row w-100 justify-content-center mt-5">
        <div class="col-12 col-md-9 col-lg-9 card-register w-100">
            <form (submit)="onSubmit($event)" class="d-flex flex-column align-items-center  "
                style="position: relative; z-index:1;">

                <h1 data-aos="zoom-in" class="croissant title display-4 my-4">Registrati</h1>
                
                <div class="container-fluid">

                    <!--! errori -->
                    <div class="row justify-content-center">
                        <div *ngIf="errorMessage.length != 0" class="col-12 col-md-12 col-lg-7" >
                            <div class="alert alert-danger" role="alert">
                              <p class="m-0" *ngFor="let e of errorMessage">{{e}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-4 mx-5"  data-aos="fade-right">

                            <label for="FirstName" class="label">Nome:</label>
                            <input class="w-100 scuro py-1 my-1" type="text" id="FirstName" #FirstName>

                            <label for="MiddleName" class="label">Secondo nome:</label>
                            <input class=" w-100 scuro py-1 my-1" type="text" id="MiddleName" #MiddleName>

                            <label for="LastName" class="label">Cognome:</label>
                            <input class=" w-100 scuro py-1 my-1" type="text" id="LastName" #LastName>

                            <label for="Phone" class="label">Cellulare:</label>
                            <input class=" w-100 scuro py-1 my-1" type="text" id="Phone" #Phone>

                            <label for="AddressType" class="label">Tipo di indirizzo: (casa, negozio...)</label>
                            <input class=" w-100 scuro py-1 my-1" type="text" id="AddressType" #AddressType>

                            <label for="AddressLine1" class="label">Indirizzo 1:</label>
                            <input class=" w-100 scuro py-1 my-1" type="text" id="AddressLine1" #AddressLine1>

                            <label for="AddressLine2" class="label">Indirizzo 2 (facoltativo):</label>
                            <input class=" w-100 scuro py-1 my-1" type="text" id="AddressLine2" #AddressLine2>
                        </div>

                        <div class="col-12 col-md-12 col-lg-4 mx-5"  data-aos="fade-left">
                            <label for="City" class="label">Città:</label>
                            <input class="w-100 scuro py-1 my-1" type="text" id="City" #City>

                            <label for="StateProvince" class="label">Provincia:</label>
                            <input class="w-100 scuro py-1 my-1" type="text" id="StateProvince" #StateProvince>

                            <label for="CountryRegion" class="label">Regione:</label>
                            <input class="w-100 scuro py-1 my-1" type="text" id="CountryRegion" #CountryRegion>

                            <label for="PostalCode" class="label">CAP:</label>
                            <input class="w-100 scuro py-1 my-1" type="text" id="PostalCode" #PostalCode>

                            <label for="EmailAddress" class="label">Email:</label>
                            <input class="w-100 scuro py-1 my-1" type="email" id="EmailAddress" #EmailAddress>

                            <label for="Password" class="label">Password:</label>
                            <input class="w-100 scuro py-1 my-1" [type]="type" id="Password" #Password>

                            <label for="PasswordConfirm" class="label">Conferma password:</label>
                            <input class="w-100 scuro py-1 my-1" [type]="type" id="PasswordConfirm" #PasswordConfirm>
                            <span (click)="hideShowPassword()" class="text-white fa {{eyeIcon}}"></span>

                        </div>
                    </div>
                </div>

                <div class="w-75 d-flex justify-content-evenly">
                    <button type="submit" class="btn-register mt-4 px-3 py-2 w-auto"
                        (click)="register(FirstName, MiddleName, LastName, Phone, AddressType, EmailAddress, Password, AddressLine1, AddressLine2, City, StateProvince, CountryRegion, PostalCode, PasswordConfirm)">Registrati</button>
                </div>
                <a class="text-decoration-none mb-5" id="forget" routerLink="/login">
                    <div class="btn-register mt-4 px-3 py-2 w-auto text-decoration-none">Ho già un account</div>
                </a>

            </form>
        </div>
    </div>
</div>

<app-footer></app-footer>