/* REGISTRA */

:root{
    --gray:#A0A6B4;
    --lightBlue:#587a80;
    --columbianBlue:#B3D2E7;
    --white:#F8F8F8;
}

.transition{
    transition: 0.5s;
}

.transition{
    transition: 0.5s;
}

.title{
    color: #F8F8F8;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

.label{
    color: #F8F8F8;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
}

.register-page{
    background-image: url("https://www.gardatrentino.it/website_images/Outdoor/Bici/mountainbike/Percorsi/image-thumb__12085__header/GARDATRENTINO_WATCHSOME_MTB_TENNO_STRADA_DEL_PIL_02.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
    z-index:0;
}


.scuro{
    transition: 0.3s;
    background-color: #b3d2e798;
    border: solid 2px #F8F8F8;
    color: rgb(0, 0, 0);
    font-family: 'IBM Plex Serif';
}
.scuro:focus{
    border: solid 2px #587a80;
    outline:none;
    box-shadow: inset 0px 0px 10px rgb(156, 156, 156);
}

.scuro:hover{
    transition: 0.3s;
    background-color: #6d9ebea6;
    border: solid 2px #587a80;

}

.btn-register{
    transition: 0.5s;
    font-weight:500;
    transition:0.5s;
    border:2px solid rgb(255, 255, 255);
    background: #6d9ebe;
    color: white;
}

.btn-register:hover{
    background: #B3D2E7;
    transition: 0.3s;
    color:#587a80;
    border:2px solid #587a80;
}


.card-register{
    background-color: #0000008e;
    padding:20px;
    position:relative;
}

.raimbow{
    position:absolute;
    z-index:-1;
    top:0px;
    left:0px;
    width:100%;
    height: 100%;

    padding:30px;
    border-radius: 10px;
    animation: rotazione 2.5s linear infinite;
}

/* FINE REGISTER */