<app-navbar></app-navbar>
<router-outlet></router-outlet>

<div id="menu" class="menu" [class.open]="isOpen">
    <div class="d-flex justify-content-end m-2">
        <h5 class="me-auto text-white">Categorie</h5>
        <a (click)="toggleMenu()" class="text-end pointer"><i class="bi bi-x-circle-fill text-white"></i></a>
    </div>
    <ul>
        
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</div>

<button (click)="toggleMenu()" class="menu-button fs-5">Categorie</button>





<div class="vh-100"></div>
<div class="vh-100"></div>


<!--! get 1 -->
<!-- <div class="container border border-2 rounded border-danger my-5">
    <div class="row">
        <div class="col-12">
            <h1 class="title text-center mt-4">VISUALIZZA PRODUCT</h1>
        </div>
        <div class="col-12 d-flex justify-content-center my-4">
            <button class="btn btn-warning bgYellow me-4 text-danger" (click)="getProduct()">Mostra</button>
        </div>
        <div *ngFor="let p of product " class="col-4 d-flex justify-content-center my-3">
            <div class="card cardStyle" style="width: 300px; height: 130px;">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-body-secondary text-warning">ID: {{p.productId}}</h6>
                    <img [src]="getDecodedImage(p.largeImage)" alt="" width="300px">

                    <h5 class="card-title text-danger">NOME COMPLETO: </h5>
                    <h5 class="card-title text-danger">{{p.name}} PREZZO: {{p.listPrice}}</h5>

                    <p class="card-text"></p>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!--! get ID -->
<!-- <div class="container border border-2 rounded border-danger my-5">
    <div class="row">
        <div class="col-12">
            <h1 class="title text-center mt-4">VISUALIZZA PRODUCT BY ID</h1>
        </div>
        <div class="col-12 d-flex justify-content-center my-4">
            <input class="form-control border-2 border-danger w-25" placeholder="Inserisci l'id" type="number" #id>
            <button class="btn btn-warning bgYellow me-4 text-danger" (click)="getProductById(id)">Mostra</button>
        </div>
        <div *ngIf="productById" class="col-4 d-flex justify-content-center my-3">
            <div class="card cardStyle" style="width: 300px; height: 130px;">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-body-secondary text-warning">ID: {{productById.productId}}</h6>

                    <h5 class="card-title text-danger">NOME COMPLETO: </h5>
                    <h5 class="card-title text-danger">{{productById.name}} PREZZO: {{productById.listPrice}}</h5>

                    <p class="card-text"></p>
                </div>
            </div>
        </div>
    </div>
</div> -->