body {
    font-family: Arial, sans-serif;
  }
  
  .menu {
    width: 250px;
    height: 100%;
    background-color: #333;
    position: fixed;
    top: 0;
    left: -250px;
    transition: left 0.3s;
    z-index: 10;
    overflow-x: hidden;
    padding-top: 60px;
  }
  
  .menu ul {
    list-style-type: none;
    padding: 0;
  }
  
  .menu ul li {
    padding: 8px 16px;
  }
  
  .pointer{
    cursor: pointer;
  }

  .menu ul li a {
    color: white;
    text-decoration: none;
    display: block;
  }
  
  .menu ul li a:hover {
    background-color: #575757;
  }
  
  .menu-button {
    transition: .3s;
    cursor: pointer;
    background-color: #587a80;
    color: white;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    position: fixed;
    top: 120px;
    left: 20px;
    z-index: 2;
  }

  .menu-button2 {
    transition: .3s;
    cursor: pointer;
    background-color: #587a80;
    color: white;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    position: fixed;
    top: 80px;
    left: 20px;
    z-index: 2;
  }


  .menu-button:hover{
    transition: .3s;
    background-color: #587a80a2;
    color: rgba(255, 255, 255, 0.619);
  }
  
  .menu-button:focus {
    outline: none;
  }
  
  .menu-button2:hover{
    transition: .3s;
    background-color: #587a80a2;
    color: rgba(255, 255, 255, 0.619);
  }
  
  .menu-button2:focus {
    outline: none;
  }
  

  .menu.open {
    left: 0;
  }
  