<router-outlet></router-outlet>

<nav class="navbar navbar-expand-lg bg-grigio fixed-top"  data-aos="flip-down">
    <div class="container-fluid">
      <a href="/"><img src={{imageUrl}} alt="Betacycle" class="ms-5 me-5" width="180px"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0 ps-4">

          <li class="nav-item mx-2">
            <a class="nav-link aNavbar active" aria-current="page" href="/">Home</a>
          </li>
          <li  class="nav-item mx-2" *ngIf="!authStatus.getLoginStatus()">
            <a class="nav-link aNavbar active"  href="/login">Login</a>
          </li>
          <li class="nav-item mx-2" *ngIf="!authStatus.getLoginStatus()">
            <a class="nav-link aNavbar active"  href="/signup">Registrati</a>
          </li>
          <li class="nav-item mx-2" *ngIf="authStatus.getLoginStatus()">
            <button class="nav-link aNavbar active"  (click)="handleSignOut()">Logout</button>
          </li>
          <li *ngIf="isAdmin" class="nav-item mx-2">
            <a class="nav-link aNavbar active" href="/customer">Customer</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link aNavbar active" href="/product">Prodotti</a>
          </li>          
        </ul>
        <form class="d-flex align-items-center" role="search">
          <input class="form-control me-2 inputSearch" type="search" placeholder="Cerca" aria-label="Search" #inputSearch>
          <a (click)="search(inputSearch)" class="d-flex align-items-center" type="submit"><i class="bi bi-search fs-3 text-white mx-3"></i></a>
        </form>

          <a *ngIf="authStatus.getLoginStatus()" href="/cart" class="nav-link aNavbar active" ><i class="bi bi-bag fs-4"></i></a>
        
      </div>
    </div>
    
  </nav>
